



body,html {
    margin: 100px 70px;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.album_art {
    width: 1000px;
    height: 950px;
    position: relative;
    background-image: url(https://www.dropbox.com/s/k915pmymfs9l7rc/KodyWest-Falling-FullRes.jpg?raw=1);
    background-repeat: none;
    background-size: cover;
    animation: fade 5s linear;
    border-radius: 20px;
}

@keyframes fade {
    0% {
        background-image: url(https://www.dropbox.com/s/xehbbnumavauwo0/KodyWest-Falling-FullRes.jpg?raw=1);
    }
    100% {
        background-color: black;
    }
}

.shows_page_circle_link {
    height: 45px;
    width: 45px;
    background: #C09C4B;
    border-radius: 50%;
    position: relative;
    left: 132px;
    top: 147px;
    display: block;
    animation: album_art_fade_in 0s 4s forwards;
    visibility: hidden;
}

@keyframes album_art_fade_in {
    to   { visibility: visible; }
  }

a .mo_shows:hover {
    text-decoration: none;
    color: #C09C4B
}

.circle_link_animation {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: #C09C4B; 
    position: relative; 
    left: 116px; 
    top: 86px;
    opacity: 0;
    animation: pulseOut 4s infinite cubic-bezier(.50, .11, .44, .77);
    animation-delay: 4s;
}

@keyframes pulseOut {
    from {
        transform: scale(.5, .5);
        opacity: .8;
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}

