@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');


*{
    margin: 0.5px; 
    padding: 0;
    background-color: black;
    text-transform: uppercase;
}

body {
    justify-content: center;
}

li, a, button {
    font-family: 'Cardo', serif;
    font-weight: 500;
    font-size: 16px;
    color: #F0D588;
    text-decoration: none;
    position: relative;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 3%;
    letter-spacing: 1px;
} 

.logo {
    cursor: pointer;
    font-size: 22px;
    margin-right: auto;
}

.logo:hover {
    transition: all 0.6s ease 0s;
    letter-spacing: 2px;
}

.nav_links li {
    display: inline-block;
    padding: 8px 10px;
}

.nav_links li a {
    transition: all 0.6s ease 0s;
    letter-spacing: 1.5px;
}

.nav_links li a:hover {
    color: rgb(210, 60, 60);
    text-decoration: none;
}

button {
    margin-left: 25px;
    padding: 9px 18px;
    border: none;
    border-radius: 50px;
    background-color: rgba(160, 0, 0, 1);
    transition: all 0.6s ease 0s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(160, 0, 0, 0.65);
}

/* img {
    width: 900px;
    height: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 15px;
} */

.album_art {
    width: 1125px;
    height: 1125px;
    background: url(https://www.dropbox.com/s/jyxdue9w10s7kyq/KodyWest-Falling-1500px.jpg?raw=1);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    border-radius: 30px;
    /* animation: fade 4s linear; */
    
}

/* @keyframes fade {
    0% {
        background-image: url(https://www.dropbox.com/s/xehbbnumavauwo0/KodyWest-Falling-FullRes.jpg?raw=1);
    }
    100% {
        background-color: black;
    }
} */

.shows_page_circle_link {
    height: 45px;
    width: 45px;
    background: #C09C4B;
    border-radius: 50%;
    left: 247px;
    top: -1006px;
    display: block;
    animation: link_available 0s 2s forwards;
    visibility: hidden;
    z-index: 9999;
}

@keyframes link_available {
    to   { visibility: visible; }
  }

.mo_shows:hover {
    text-decoration: none;
    color: #C09C4B
}

.circle_link_animation {
    width: 75px;
    height: 75px;
    background-color: #C09C4B; 
    border-radius: 50%;
    position: relative; 
    left: 232px; 
    top: -1064px;
    opacity: 0;
    animation: pulseOut 4s infinite cubic-bezier(.50, .11, .44, .77);
    animation-delay: 2s;
    z-index: 9998;
}

@keyframes pulseOut {
    from {
        transform: scale(.5, .5);
        opacity: .8;
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}